.search-results-counter{
    margin-left: 25%;
    padding-top: 15px;
    color: gray;
    text-transform: capitalize;
}

.logo-youtube{
    width: 120px;
    height: 60px;
}

.header{
    background-color: rgb(247, 244, 244);
}

.video-list{
    margin-top: 8px;
}
